.kasa-404 {
    color: #FF6060;
    h1 {
        font-size: 10em;
       text-align: center;
    }
    p{
        text-align: center;
    }
    a{
        justify-content: center;
        display: flex;
        text-decoration: none;
    }
}
