.kasa-collaps {
    height: 54px;
    border-radius: 5px;
    background-color: #FF6060;
    margin-left:10vw;
    margin-right: 10vw;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    img{
        cursor: pointer;
    }
    h2{
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
.kasa-collaps-text{
    max-height: 0px;
    margin-left:10vw;
    margin-right: 10vw;
    background-color: #F6F6F6;
    overflow: hidden;
    p{
        padding: 10px;
        margin: 0;
    }
}
.rotate {
    transform: rotate(180deg);
    transition-duration: 0.3s;
}
.active {
    max-height: 1000px;
    transition: 3s;
}
