.kasa-banner-logement {
    height: 415px;
    border-radius: 25px;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 50px;
    position: relative;
}

.chevron {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top: 40%;
    bottom: 40%;
}

#prev {
    transform: rotate(270deg);
    cursor: pointer;
}

#next {
    transform: rotate(90deg);
    cursor: pointer;
}

.img-logement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0;
}

.kasa-collaps-logement {
    display: flex;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 20px;

    .kasa-collaps {
        width: 39vw;
        margin: 0;
        h2{
            font-size: 18px;
            font-weight: 700;
        }
    }

    .kasa-collaps-text {
        width: 39vw;
        margin: 0;
    }
}

.active {
    opacity: 1;
}

.desactive {
    display: none;
}

.aside-fichelogement {
    margin-left: 8vw;
    margin-right: 8vw;
    display: flex;
    justify-content: space-between;

    h2 {
        color: #FF6060;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;

    }
}
.div-titre-loc-tag{
    p{
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
    }
}

.div-petite-bulle {
    display: flex;
}

.petite-bulle {
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
}

.star {
    color: #FF6060;
}

.div-agent-star {
    margin-top: 20.750px;
    p {
        color: #FF6060;
        margin-top: 0;
        width: 70px;
    }

    img {
        height: 64px;
        border-radius: 50%;

    }
}
.div-agent-rond{
    display: flex;
}
.div-star{
    margin-top: 20px;
    width: 196px;
    i{
        width: 36px;
        height: 36px;
    }
}
.numero{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    display: flex;
    left: 50%;
    right: 50%;
    p{
        color: white;
    }
}
.numdesactive{
    position: relative;
}
@media (max-width: 700px) {
    .aside-fichelogement{
        display: block;
    }
    .div-agent-star{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .kasa-collaps-logement {
       
    
        .kasa-collaps {
            
            h2{
                font-size: 10px;
                font-weight: 700;
            }
        }
}}