.kasa-header {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    nav{
        padding-top: 25px;
        a{
            padding-left: 57px;
        }
    }
    
}

.kasa-logo {
    width: 210.32px;
    height: 68px;
}