.kasa-header {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    nav{
        padding-top: 25px;
        a{
            padding-left: 50px;
            font-weight: 500;
            color: black;
        }
    }
    
}

.kasa-logo {
    width: 17vw;
    height: 68px;
}
